# Level 1

## Exercice 1

Body mass index calculator

Write a function that calculates the BMI entered by the user, that is, whoever runs it will have to enter this data. You can get more information about its calculation at: ðŸ”— Body Mass Index What is BMI and how is it calculated.

The function must classify the result into its respective categories.

Tip: Try validating the data beforehand, so that it sends a warning message if the data entered by the user is not in the appropriate format or does not take reasonable values.

In [13]:
def BMI_calculator(weight, hight):
    BMI = weight/(hight**2)
    if BMI < 18.5:
        status = "Underweight"
    elif BMI >= 18.5 and BMI <= 24.9:
        status = "Normal"
    elif BMI >= 25 and BMI <= 29.9:
        status = "Overweight"
    else: 
        status = "Obesity"
    print("BMI is:", status)

In [56]:
def BMI_calculator_starter():
    weight = (input("Enter the weight in kg (e.g. 70): "))
    try:
        weight = float(weight)
    except:
        print("Please, enter a valid weight!")
        return BMI_calculator_starter()
        
        
    hight = (input("Enter the hight in mt (e.g. 1.70): "))
    try:
        hight = float(hight)
    except:
        print("Please, enter a valid hight!")
        return BMI_calculator_starter()
        
    BMI_calculator(weight, hight)

In [59]:
BMI_calculator_starter()

Enter the weight in kg (e.g. 70):  80
Enter the hight in mt (e.g. 1.70):  agua

Please, enter a valid hight!

Enter the weight in kg (e.g. 70):  70
Enter the hight in mt (e.g. 1.70):  1.70

BMI is: Normal

## Exercice 2

Temperature converter

There are several temperature units used in different contexts and regions. The most common are Celsius (Â°C), Fahrenheit (Â°F), and Kelvin (K). There are also other units such as Rankine (Â°Ra) and RÃ©aumur (Â°Re).

Select at least 2 converters, so that when entering a temperature, it returns at least two conversions, so that they can be saved (remember that a print() can never be saved).

Tip: Try validating the data beforehand, so that it sends a warning message if the data entered by the user is not in the correct format.

(EXTRA): Think of a way to store all possible conversions in a single object (List? Dictionary? DataFrame?) instead of writing many if elses based on the source temperature and the destination temperature.

In [239]:
import pandas as pd

col_names = ["Celsius","Fahrenheit","Kelvin"]
my_df = pd.DataFrame(columns = col_names)

In [240]:
def scale_selector():
    global scale
    scale = input("Which scale is the temperature you're inserting? Type\n1 for Celsius\n2 for Fahrenheit\n3 for Kelvin\n")

    try:
        scale = int(scale)
    except: 
        print("\nPlease, insert 1, 2 or 3!\n")
        return scale_selector()

    if scale <1 or scale > 3:
        print("\nPlease, insert 1, 2 or 3!\n")
        return scale_selector()

    match scale:
        case 1:
            scale = "Celsius"
        case 2:
            scale = "Fahrenheit"
        case 3: 
            scale = "Kelvin"

    return scale

In [241]:
def temperature_input():
    global temperature
    temperature = input("Enter the temperature:")

    try:
        temperature = float(temperature)
    except:
        print("Enter a valid temperature")
        return temperature_input()

    return temperature

In [268]:
def temperature_converter():
    temperature_input()
    scale_selector()
    
    if (my_df[scale] == temperature).any():
        my_row = my_df[my_df[scale] == temperature]
        celsius = my_row.iloc[0, 0]
        fahrenheit = my_row.iloc[0, 1]
        kelvin = my_row.iloc[0, 2]
        
    else:

        match scale:
            case "Celsius":
                celsius = temperature
                fahrenheit = (temperature*2)+30
                kelvin = temperature+ 273.15
    
    
            case "Fahrenheit":
                celsius = (temperature - 32) / 1.8
                fahrenheit = temperature
                kelvin = (temperature-32)*5/9+273.15
    
            case "Kelvin":
                celsius = temperature - 273.15
                fahrenheit = (temperature-273.15) * 1.8 + 32
                kelvin = temperature
                
        my_df.loc[len(my_df)] = [celsius, fahrenheit, kelvin]
 
    print("\nThe temperature in Celsius is:", celsius)
    print("The temperature in Fahrenheit is:", fahrenheit)
    print("The temperature in Kelvin is:", kelvin)
    
    run_again(temperature_converter)

In [271]:
def  run_again(function_name):
    new_calculation= input("\n\nDo you want to do a new calculation? Type\n1 for YES\n2 for NO")
    
    try:
        new_calculation = int(new_calculation)  
    except: 
        print("\nPlease, insert 1 or 2!\n")
        return run_again(function_name)

    if new_calculation <1 or new_calculation > 2:
            print("\nPlease, insert 1 or 2!\n")
            return run_again(function_name)
    if new_calculation == 1:
            return function_name()
    if new_calculation == 2:
            print("Thank you, see you soon!")
            return

In [273]:
temperature_converter()

Enter the temperature: 10
Which scale is the temperature you're inserting? Type
1 for Celsius
2 for Fahrenheit
3 for Kelvin
 1

The temperature in Celsius is: 10.0
The temperature in Fahrenheit is: 50.0
The temperature in Kelvin is: 283.15

Do you want to do a new calculation? Type
1 for YES
2 for NO agua

Please, insert 1 or 2!

Do you want to do a new calculation? Type
1 for YES
2 for NO !

Please, insert 1 or 2!

Do you want to do a new calculation? Type
1 for YES
2 for NO 2

Thank you, see you soon!

In [267]:
my_df

     Celsius  Fahrenheit      Kelvin
0  10.000000        50.0  283.150000
1  -6.666667        20.0  266.483333
2  15.000000        60.0  288.150000
3  20.000000        70.0  293.150000
4  23.000000        76.0  296.150000
5  12.000000        54.0  285.150000
6  28.000000        86.0  301.150000
7  37.777778       100.0  310.927778

## Exercise 3

Word counter for a text.

Write a function that, given a text, displays the number of times each word appears. Try to handle all possible cases that cause the program not to work correctly.

(EXTRA): What is the average word length of the text you wrote? â€œHello, how are you?â€ should return (4+3+2) / 3 = 3

In [463]:
import re

In [464]:
my_text = "Hello, my name is Andre. What is your name?"

In [480]:
def text_counter(text):
    
    print("Text:", text)
    text = re.sub(r'[^a-zA-Z0-9]', ' ', text)
    text = text.upper()
    words = text.split()
    total_words= 0
    total_characters = 0

    for word in words:
        total_words = total_words+1
        total_characters = total_characters + len(word)
        if word in my_dict:
            my_dict[word][0] = my_dict[word][0] +1
        else:
            count = 1
            size = len(word)
            my_dict.update({word: [count, size]})

    print("The text has a total of", total_words,"words.")
    print("The average word length is:", round(total_characters/total_words, 2))
    for word in words:
        print("  - The word ", word," appers", my_dict[word][0], "time(s).")

    my_dict.clear()

In [481]:
text_counter(my_text)

Text: Hello, my name is Andre. What is your name?
The text has a total of 9 words.
The average word length is: 3.56
  - The word  HELLO  appers 1 time(s).
  - The word  MY  appers 1 time(s).
  - The word  NAME  appers 2 time(s).
  - The word  IS  appers 2 time(s).
  - The word  ANDRE  appers 1 time(s).
  - The word  WHAT  appers 1 time(s).
  - The word  IS  appers 2 time(s).
  - The word  YOUR  appers 1 time(s).
  - The word  NAME  appers 2 time(s).

## Exercice 4

It turns out that the client has a very old survey stored in a dictionary and needs the results in reverse, i.e., by swapping the keys and values. The values â€‹â€‹and keys in the original dictionary are unique; if this is not the case, the function should print a warning message, along with a list of the values â€‹â€‹associated with the repeated key.

In [598]:
meu_dicionario = {'x':'apple', 'y': 'banana', 'z':'banana', 'a':'banana', 'b':'apple'}

In [601]:
def dicionario_reverso(dicionario):

    keys = list(dicionario.keys())
    values = list(dicionario.values())
    novo_dicionario = {}

    for i in range(len(values)):

        if values[i] in novo_dicionario:
            new_list = list(novo_dicionario[values[i]])
            new_list.append(keys[i])
            novo_dicionario.update({values[i]:new_list})
            print('Value already exist', new_list)
        else:
            novo_dicionario.update({values[i]:keys[i]})
        
        
    print("OLD:",dicionario)
    print("NEW:",novo_dicionario)

In [602]:
dicionario_reverso(meu_dicionario)

Value already exist ['y', 'z']
Value already exist ['y', 'z', 'a']
Value already exist ['x', 'b']
OLD: {'x': 'apple', 'y': 'banana', 'z': 'banana', 'a': 'banana', 'b': 'apple'}
NEW: {'apple': ['x', 'b'], 'banana': ['y', 'z', 'a']}

# Level 2

## Exercise 1

Counter and sorter of words in a text.

The client was happy with the word counter, but now he wants to read TXT files and calculate the frequency of each word ordered within the usual dictionary entries according to the letter they begin with, that is, the keys must go from A to Z and within A we must go from A to Z. For example, for the file "tu_me_quieres_blanca.txt" the expected output would be:

In [721]:
import codecs
import json

In [723]:
def word_counter(archivo):
    with codecs.open(archivo, 'r', encoding='utf-8', errors='ignore') as fdata:
        fdata = fdata.read()
        fdata = fdata.replace(","," ").replace("."," ").replace(":"," ").replace(";"," ").replace("("," ").replace(")"," ").replace("Â¡"," ").replace("!"," ")
        fdata = fdata.lower()
        words = fdata.split()
    
    first_letter_list = []
    
    for word in words:
        first_letter = word[0]
    
        if not first_letter in first_letter_list:
            first_letter_list.append(first_letter)
    
    first_letter_list.sort()
    words.sort()
    dict_of_words = dict([(key, {}) for key in first_letter_list])
    
    for letter in first_letter_list:
        for word in words:
            if letter==word[0]:
                if word in dict_of_words[letter]:
                    #incrementar 1
                    dict_of_words[letter][word] = dict_of_words[letter][word] +1
                else:
                    #anadir nueva palavra al dic y count = 1
                    dict_of_words[letter][word] = 1
    
    print(json.dumps(dict_of_words, indent=4, ensure_ascii=False))

In [724]:
archivo = "tu me quieres blanca.txt"
word_counter(archivo)

{
    "a": {
        "a": 3,
        "agua": 1,
        "al": 2,
        "alba": 4,
        "alcobas": 1,
        "alimenta": 1,
        "alma": 1,
        "amarga": 1,
        "azucena": 1
    },
    "b": {
        "baco": 1,
        "banquete": 1,
        "bebe": 1,
        "blanca": 3,
        "boca": 1,
        "bosques": 1,
        "buen": 1
    },
    "c": {
        "cabaÃ±as": 1,
        "carnes": 2,
        "casta": 3,
        "cerrada": 1,
        "con": 4,
        "conservas": 1,
        "copas": 1,
        "corola": 1,
        "corriste": 1,
        "cuando": 2,
        "cubierto": 1,
        "cuerpo": 1,
        "cuÃ¡les": 1
    },
    "d": {
        "de": 8,
        "dejaste": 1,
        "del": 1,
        "diga": 1,
        "dios": 2,
        "duerme": 1
    },
    "e": {
        "el": 4,
        "ellas": 1,
        "en": 4,
        "engaÃ±o": 1,
        "enredada": 1,
        "entonces": 1,
        "escarcha": 1,
        "espumas": 1,
        "esqueleto": 1,
        "estrago": 1
    },
    "f": {
        "festejando": 1,
        "filtrado": 1,
        "frutos": 1
    },
    "h": {
        "habla": 1,
        "hacia": 1,
        "haya": 1,
        "hayas": 1,
        "hermana": 1,
        "hombre": 1,
        "hubiste": 1,
        "huye": 1
    },
    "i": {
        "intacto": 1
    },
    "j": {
        "jardines": 1
    },
    "l": {
        "la": 3,
        "labios": 1,
        "las": 7,
        "lo": 2,
        "los": 4,
        "luna": 1,
        "lÃ©vate": 1,
        "lÃ­mpiate": 1
    },
    "m": {
        "mano": 1,
        "manos": 1,
        "margarita": 1,
        "me": 10,
        "mi": 1,
        "mieles": 1,
        "milagros": 1,
        "mojada": 1,
        "montaÃ±a": 1,
        "morados": 1
    },
    "n": {
        "negros": 1,
        "ni": 2,
        "no": 1,
        "nÃ¡car": 1,
        "nÃ­vea": 2
    },
    "p": {
        "perdone": 2,
        "perfume": 1,
        "por": 2,
        "pretendes": 3,
        "pretÃ©ndeme": 3,
        "puesto": 1,
        "pÃ¡jaros": 1,
        "pÃ¡mpanos": 1
    },
    "q": {
        "que": 6,
        "quedÃ³": 1,
        "quieres": 6
    },
    "r": {
        "rayo": 1,
        "raÃ­z": 1,
        "renueva": 1,
        "rocas": 1,
        "rojo": 1
    },
    "s": {
        "salitre": 1,
        "se": 2,
        "sea": 1,
        "sean": 1,
        "sobre": 2,
        "sÃ©": 1
    },
    "t": {
        "te": 3,
        "tejidos": 1,
        "tenue": 1,
        "tierra": 1,
        "toca": 1,
        "todas": 2,
        "todavÃ­a": 1,
        "tornadas": 1,
        "tÃº": 8
    },
    "u": {
        "un": 1,
        "una": 1
    },
    "v": {
        "vestido": 1,
        "vete": 1,
        "vive": 1
    },
    "y": {
        "y": 5
    }
}

## Exercice 2

Data type conversion.

The client receives a list of data and needs to generate two lists, the first where all the elements that could be converted to floats will be and the other where the elements that could not be converted are. Example of the list that the client receives:

In [753]:
pip install word2number

Collecting word2number
  Downloading word2number-1.1.zip (9.7 kB)
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Building wheels for collected packages: word2number
  Building wheel for word2number (pyproject.toml): started
  Building wheel for word2number (pyproject.toml): finished with status 'done'
  Created wheel for word2number: filename=word2number-1.1-py3-none-any.whl size=5680 sha256=0a293fba96a7bd29c3b02ec0ef7f42bab8b67cfdb93c77e6537c297336f0ecb8
  Stored in directory: c:\users\windows10\appdata\local\pip\cache\wheels\aa\2b\71\ede4a3c3520a8374778c16c345e0e78e25d1ffe38f4c5c1e8a
Successfully built word2number
Installing collected packages: word2number
Successfully installed word2number-1.1
Note: you may need to restart the kernel to use updated packages.

In [812]:
from word2number import w2n
from fractions import Fraction

In [813]:
list_received = [ '1.3', 'twenty-two' , '1e10' , 'seven', '3-1/2', ('2',1,1.4,'not-a-number'), [1,2,'3','3.4']]

In [814]:
def flat_list(my_list):
    result = []
    for item in my_list:
        if isinstance(item, (list, tuple)):
            result.extend(flat_list(item))
        else:
            result.append(item)
    return result

In [827]:
def mixed_fraction_to_float(item):
    whole, frac = item.split('-')
    num, denom = frac.split('/')
    return float(whole) + float(num) / float(denom)

In [830]:
def float_numbers(first_list):
    new_list = flat_list(first_list)
    number_list = []
    not_number_list = []
    
    for item in new_list:
        try:
            item = float(item)
            number_list.append(item)
        except:
            try:
                item = (w2n.word_to_num(item))
                item = float(item)
                number_list.append(item)
            except:
                try:
                    item = mixed_fraction_to_float(item)
                    item = float(item)
                    number_list.append(item)
                except:
                    not_number_list.append(item)
                        
    return number_list, not_number_list

In [832]:
float_numbers(list_received)
print("List of Numbers:", number_list)
print("List of NOT Numbers:", not_number_list)

List of Numbers: [1.3, 22.0, 10000000000.0, 7.0, 3.5, 2.0, 1.0, 1.4, 1.0, 2.0, 3.0, 3.4]
List of NOT Numbers: ['not-a-number']

# Level 3

## Exercise 1

Password Generator

Explore the operation of the random module of the numpy library. ðŸ”— Random module in NumPy

At this point, the client has detected a problem with the passwords used by their employees. Asdf1234, birthdays or similar. To solve this, they have commissioned us to create a Python function that generates more secure passwords. The function must depend on the following parameters:

length (int): Password length
capital letters (bool = True): Whether capital letters should appear
lowercase (bool = True): Whether lowercase letters should appear
numbers (bool = True): Whether numbers should appear
signs (bool = False): If special characters should appear (,-$? or similar)
So, if we execute the function as follows:

create_password(10, True, True, True, True)

We should obtain an output (which we must be able to save) like this:

9Er,5Vn8P$

Make sure that all criteria are met, and that these passwords are truly random.

(EXTRA) Explore how we could make the function automatically copy the password to the computer's clipboard (as if we had selected it and done ctrl+copy).

In [1181]:
pip install pyperclip

Requirement already satisfied: pyperclip in c:\users\windows10\anaconda3\lib\site-packages (1.11.0)
Note: you may need to restart the kernel to use updated packages.

In [1182]:
import random
import string
import pyperclip

In [1189]:
def create_password(length, capital, lowercase, numbers, signs):
    characters =''

    if capital is True:
        capital_letter = string.ascii_letters
        capital_letter = capital_letter.upper()
        characters = characters+capital_letter

    if lowercase is True:
        lower_letter = string.ascii_letters
        lower_letter = lower_letter.lower()
        characters = characters+lower_letter

    if numbers is True:
        numbers = string.digits
        characters = characters+numbers

    if signs is True:
        signs = string.punctuation
        characters = characters+signs

    if characters == '':
        password=''
        return("Imposible to create a password")
    else:
        password = ''.join(random.choices(characters, k=length))
    
    pyperclip.copy(password)
    print("Password has been copied to the clipboard.")
    return password

In [1192]:
password = create_password(10, True, True, True, True)
print("Password:", password)

Password has been copied to the clipboard.
Password: _{m*pjdy#B

## Exercise 2

Simple data processing

A coworker has asked us for a favor, taking advantage of the fact that she knows we are learning to program. She has a history of Catalan football matches in a file, where she has stored the names of the teams and the results. She needs us to process the data automatically, to extract the results she needs.

Use the file "historic_partits.txt"

You need a program that returns:

The total number of goals scored by each team.
The name of the top scoring team.
The name of the team with the most goals scored
The overall standings (each win: 3 pts, draw 1 pts, defeat 0 pts)

In [1579]:
import codecs
import re
import pandas as pd

In [1580]:
def games_calculator(file_name):

    name_of_columns = ["Team", "Won","Draw","Lost", "Goals For", "Goals Against", "Points"]
    my_table = pd.DataFrame(columns = name_of_columns)
    my_table = my_table.iloc[0:0]
    
    with codecs.open(file_name, 'r', encoding='utf-8', errors='ignore') as fdata:
        games = []
        for line in fdata:
            line = re.sub('\s+', ' ', line)
            games.append(line)
    
    for game in games:
        teams = game.rsplit('-')
        team_a = teams[0]
        score_a = int(team_a[-1])
        team_a = team_a[0:(len(team_a)-2)]
        these_teams = [team_a]
        
        
        team_b = teams[1]
        score_b = int(team_b[0])
        team_b = team_b[2:(len(team_b)-1)]
        these_teams.append(team_b)
    
        
        for team in these_teams:
        
            if my_table["Team"].str.contains(team).any()==True:
                pass
            else:
                new_team = {"Team" : team, "Won" : 0,"Draw" : 0,"Lost" : 0,"Goals For" : 0,"Goals Against" : 0,"Points" : 0,}
                my_table.loc[len(my_table)] = new_team
    
        these_teams.clear()
    
        #CHECKING RESULT OF THE GAMES
    
        index_a = my_table[my_table['Team']==team_a].index.item()
        index_b = my_table[my_table['Team']==team_b].index.item()
    
        #DRAW
        if score_a == score_b:
            #DRAW
    
            #UPDATING TEAM A
            my_table.loc[index_a,"Draw"] = my_table.loc[index_a,"Draw"] +1
            my_table.loc[index_a,"Points"] = my_table.loc[index_a,"Points"] +1
            my_table.loc[index_a,"Goals For"] = my_table.loc[index_a,"Goals For"] + score_a
            my_table.loc[index_a,"Goals Against"] = my_table.loc[index_a,"Goals Against"] + score_b
    
            #UPDATING TEAM A
            my_table.loc[index_b,"Draw"] = my_table.loc[index_b,"Draw"] +1
            my_table.loc[index_b,"Points"] = my_table.loc[index_b,"Points"] +1
            my_table.loc[index_b,"Goals For"] = my_table.loc[index_b,"Goals For"] + score_b
            my_table.loc[index_b,"Goals Against"] = my_table.loc[index_b,"Goals Against"] + score_a
            
        elif score_a > score_b:
            # TEAM A WINS
            
            #UPDATING TEAM A
            my_table.loc[index_a,"Won"] = my_table.loc[index_a,"Won"] +1
            my_table.loc[index_a,"Points"] = my_table.loc[index_a,"Points"] +3
            my_table.loc[index_a,"Goals For"] = my_table.loc[index_a,"Goals For"] + score_a
            my_table.loc[index_a,"Goals Against"] = my_table.loc[index_a,"Goals Against"] + score_b
    
            #UPDATING TEAM A
            my_table.loc[index_b,"Lost"] = my_table.loc[index_b,"Lost"] +1
            my_table.loc[index_b,"Points"] = my_table.loc[index_b,"Points"]
            my_table.loc[index_b,"Goals For"] = my_table.loc[index_b,"Goals For"] + score_b
            my_table.loc[index_b,"Goals Against"] = my_table.loc[index_b,"Goals Against"] + score_a
        else:
            #TEAM A LOST
            
            #UPDATING TEAM A
            my_table.loc[index_a,"Lost"] = my_table.loc[index_a,"Lost"] +1
            my_table.loc[index_a,"Points"] = my_table.loc[index_a,"Points"]
            my_table.loc[index_a,"Goals For"] = my_table.loc[index_a,"Goals For"] + score_a
            my_table.loc[index_a,"Goals Against"] = my_table.loc[index_a,"Goals Against"] + score_b
    
            #UPDATING TEAM A
            my_table.loc[index_b,"Won"] = my_table.loc[index_b,"Won"] +1
            my_table.loc[index_b,"Points"] = my_table.loc[index_b,"Points"] + 3
            my_table.loc[index_b,"Goals For"] = my_table.loc[index_b,"Goals For"] + score_b
            my_table.loc[index_b,"Goals Against"] = my_table.loc[index_b,"Goals Against"] + score_a
    
    
    top_scoring_team = my_table.loc[my_table['Goals For'].idxmax(), 'Team']
    top_scored_team = my_table.loc[my_table['Goals Against'].idxmax(), 'Team']
    print("MOST GOALS FOR TEAM:",top_scoring_team)
    print("MOST GOALS AGAINST TEAM:",top_scored_team, "\n")
    
    goals_for_list = []
    
    for i, row in my_table.iterrows():
        team = row["Team"]
        goals_for = row["Goals For"]
        goals_for_list.append([team, goals_for])
        print("TEAM:",team, "GOALS FOR:",goals_for)

    my_table.sort_values(by='Points', inplace=True, ascending=False)
    #my_table.style.hide(axis="index")
    display(my_table.style.hide(axis="index"))
    
    
    return top_scoring_team, top_scored_team, goals_for_list, my_table

In [1581]:
a = games_calculator('historic partits.txt')

MOST GOALS FOR TEAM: Figueres
MOST GOALS AGAINST TEAM: Vilafranca

TEAM: Manlleu GOALS FOR: 106
TEAM: Granollers GOALS FOR: 122
TEAM: Vilafranca GOALS FOR: 157
TEAM: Terrassa GOALS FOR: 147
TEAM: Olot GOALS FOR: 132
TEAM: CornellÃ  GOALS FOR: 147
TEAM: Prat GOALS FOR: 106
TEAM: Cerdanyola GOALS FOR: 117
TEAM: Sant Andreu GOALS FOR: 123
TEAM: FC Barcelona GOALS FOR: 125
TEAM: Badalona GOALS FOR: 134
TEAM: Sabadell GOALS FOR: 141
TEAM: Europa GOALS FOR: 93
TEAM: Llagostera GOALS FOR: 159
TEAM: Figueres GOALS FOR: 161
TEAM: RCD Espanyol GOALS FOR: 131
TEAM: Reus Deportiu GOALS FOR: 119
TEAM: NÃ stic de Tarragona GOALS FOR: 130
TEAM: Lleida Esportiu GOALS FOR: 129
TEAM: Girona FC GOALS FOR: 139